## Set

In [2]:
places_set = {'Mumbai', 'Delhi', 'Lucknow'}
print("The set of places is:", places_set)
print("The number of places in my set is: ", len(places_set))

The set of places is: {'Delhi', 'Mumbai', 'Lucknow'}
The number of places in my set is:  3

In [3]:
places_set.add('Raipur')
print("The set of places is:", places_set)

The set of places is: {'Delhi', 'Mumbai', 'Raipur', 'Lucknow'}

In [4]:
places_set.remove('Delhi')
print("The set of places is:", places_set)

The set of places is: {'Mumbai', 'Raipur', 'Lucknow'}

## Frozen Set

It is an immutable version of a set. The elements of a frozen set remain constant or fixed, they can not be changed

In [5]:
#example 1
my_list = ['hello', 2220, True]
fst1 = frozenset(my_list)
print("The frozenset is: ", fst1)

The frozenset is:  frozenset({True, 'hello', 2220})

In [6]:
print("An empty frozen set is: ", frozenset())

An empty frozen set is:  frozenset()

In [9]:
#if i try to modify my frozenset fst1, it gives an error, because it is immutable
fst1.add('hey')

AttributeError: ignored

In [11]:
#Example 2
my_set = {322, "hello there", True}
fst2 = frozenset(my_set)
print("The frozen set here is: ", fst2)

The frozen set here is:  frozenset({'hello there', 322, True})

## Other operations on Sets

In [14]:
ss = set()
print(ss)

ss.add("hello")
ss.add("hey")
print(ss)

ss.clear()
print(ss)

set()
{'hello', 'hey'}
set()

In [18]:
s1 = {"This", "is", 2022}
s2 = {2022, "is", "current", "year"}

s3 = s1|(s2)
print("Union of the two sets is: ", s3)

s4 = s1&(s2)
print("\nIntersection of the two sets is: ", s4)

Union of the two sets is:  {'year', 'is', 'This', 2022, 'current'}

Intersection of the two sets is:  {'is', 2022}

In [20]:
sa = 300
sb = 350
print((sa) >= (sb))
print(sa == sb)
print(sa < sb)

False
False
True