## Lists in Python

In [7]:
list_of_vehicles = ['Car', 'Bike', 'Motorcycle', 'Truck']
print("The list is: ", list_of_vehicles)
print("The 3rd vehicle is: ", list_of_vehicles[2])

The list is:  ['Car', 'Bike', 'Motorcycle', 'Truck']
The 3rd vehicle is:  Motorcycle

In [8]:
list_of_vehicles.append('Bus')
print("Now the list is: ", list_of_vehicles)

Now the list is:  ['Car', 'Bike', 'Motorcycle', 'Truck', 'Bus']

In [9]:
list_of_vehicles.insert(2, 'Bicycle')
print("Now the list is: ", list_of_vehicles)
print("Now the 3rd vehicle is: ", list_of_vehicles[2])

Now the list is:  ['Car', 'Bike', 'Bicycle', 'Motorcycle', 'Truck', 'Bus']
Now the 3rd vehicle is:  Bicycle

In [10]:
del list_of_vehicles[4]
print("After removing the 5th element, Now the list is: ", list_of_vehicles)

After removing the 5th element, Now the list is:  ['Car', 'Bike', 'Bicycle', 'Motorcycle', 'Bus']

In [12]:
list_of_vehicles.remove("Bike")
print("After removing the element 'Bike' , Now the list is: ", list_of_vehicles)

After removing the element 'Bike' , Now the list is:  ['Car', 'Bicycle', 'Motorcycle', 'Bus']

# Tuples in Python

In [40]:
_tupleForFood_ = (['Pasta', 'Dal', 'Rice', 'Dosa'])
print("My tuple for food items is: ", _tupleForFood_)

My tuple for food items is:  ['Pasta', 'Dal', 'Rice', 'Dosa']

In [41]:
print("The 3rd food item is: ", _tupleForFood_[2])

The 3rd food item is:  Rice

In [42]:
_tupleForFood_.insert(1000, "Pizza")
_tupleForFood_.append("Sandwich")
print("Now my tuple for food items is: ", _tupleForFood_)

Now my tuple for food items is:  ['Pasta', 'Dal', 'Rice', 'Dosa', 'Pizza', 'Sandwich']

In [43]:
_tupleForFood_.remove("Rice")
print("Now my tuple for food items is: ", _tupleForFood_)

Now my tuple for food items is:  ['Pasta', 'Dal', 'Dosa', 'Pizza', 'Sandwich']

In [44]:
#we can delete a tuple as follows:
del _tupleForFood_
#now if we try to print the tuple, we will get an error as it no longer exists

# Dictionaries in Python

In [32]:
Library= {
    "Librarians": ["Ishika Sharma", "Mohit Kapoor"],
    "Location": "Central Resource Center",
    "Identification": 3813492,
    "No. of Books": 29117
}

print("The details of the library are:\n", Library)

The details of the library are:
 {'Librarians': ['Ishika Sharma', 'Mohit Kapoor'], 'Location': 'Central Resource Center', 'Identification': 3813492, 'No. of Books': 29117}

In [35]:
print("The librarians available are: ", Library["Librarians"][0], "and", Library["Librarians"][1])
print("The number of books available at the library are: ", Library["No. of Books"])

The librarians available are:  Ishika Sharma and Mohit Kapoor
The number of books available at the library are:  29117

In [36]:
Library["No. of Books"] = 32000
print("Now the updated number of books available at the library are: ", Library["No. of Books"])

Now the updated number of books available at the library are:  32000

In [37]:
Library["Review"] = "Excellent"
print("Now the details of the library are:\n", Library)

Now the details of the library are:
 {'Librarians': ['Ishika Sharma', 'Mohit Kapoor'], 'Location': 'Central Resource Center', 'Identification': 3813492, 'No. of Books': 32000, 'Review': 'Excellent'}

In [38]:
del Library["Librarians"]
print("Now the details of the library are:\n", Library)

Now the details of the library are:
 {'Location': 'Central Resource Center', 'Identification': 3813492, 'No. of Books': 32000, 'Review': 'Excellent'}

#Slicing

In [50]:
place = "Washington"

print(place[7:])
print(place[:4])
print(place[2:7])
print(place[:-1])
print(place[-7:-1])
print(place[-7:])

ton
Wash
shing
Washingto
hingto
hington

# Step Index

In [55]:
flower = "Lotus"

print(flower[::-1])
print(flower[::-2])
print(flower[::-3])

sutoL
stL
so